body {
    margin: 0 auto;

    background-color: #2F2E41;
    
    width: 1280px;
    height: 720px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 71px 59px 0 138px;

    font-family: "JetBrains Mono", monospace;
}

ul {
    display: flex;
    gap: 64px;

    list-style: none;

    color: #FFFFFF;
    font-weight: lighter;
    line-height: 28px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1092px;
    height: 283px;
    margin: 101px 50px 0 138px;
}

h1 {
    font-family: "JetBrains Mono", monospace;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    line-height: 40px;
    font-weight:normal;

    margin: 0 auto 59px;
}

h1 span {
    color: #00BFA6;
    font-weight: bold;
}

p {
    width: 605px;
    height: 170px;
    margin: 0;

    text-align: center;
    line-height: 28px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #C2C2C2;
}

p span {
    color: #00BFA6;
    font-weight: bold;
}

#line {
    width: 568px;
    height: 0;
    border: #00BFA6 solid 0.1px;
}

footer {
    position: relative;
    margin-top: 157px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "JetBrains Mono", monospace;
    color: #FFFFFF;
    text-align: center;
    font-weight:lighter;
    line-height: 28px;
    font-size: 14px;

}

footer p {
    text-align: center;
    margin: 27px auto;

    width: 568px;
    height: 55px;
}

.cadeado {
    position: absolute;

    left: 10px;
    bottom: 10px;
}

.footer-div {
    width: 568px;
    height: 55px;
}